{{> layouts/header}}
<form action="/articles" method="post">
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" id="articleTitle" name="title" aria-describedby="title" placeholder="제목을 입력해주세요.">
    </div>
    <div class="mb-3">
        <label for="Content" class="form-label">Content</label>
        <textarea class="form-control" id="articleContent" name="content" rows="15" placeholder="내용을 입력해주세요."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" onclick="location.href='/articles/list'" class="btn btn-danger">Back</button>
</form>
{{> layouts/footer}}