{{> layouts/header}}
<div> 기본 인덱스 페이지 입니다. </div>
<div>
    <button type="button" class="btn btn-light" onclick="location.href='/hospitals'">병원 리스트 바로가기</button> <br>
    <button type="button" class="btn btn-light" onclick="location.href='/articles'">게시판 바로가기</button>
</div>
{{> layouts/footer}}